node_modules
dist
out
.tmp-electron-scaffold
tmp-electron-scaffold
.DS_Store
.eslintcache
*.log*
.claude
build
node_modules
out
.idea
.playwright-mcp
.spec-workflow
.vscode
.prettierignore
.editorconfig
.prettierrc.yaml
